<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Data Survey</title>
</head>
<body>
  <form class="form" action="/main" method="POST">
    <div class="flex-boxes">
      <div class="space">
        <label for="name">Your Name</label>
        <input type="text" name = "name" class="box">
      </div>
      <div class="space">
        <td>Dojo Location</td>
          <td>
            <select class="box" name='location'>
              <option value='Arlington'>Arlington</option>
              <option value='Berkely'>Berkely</option>
              <option value='Boise'>Boise</option>
              <option value='Chicago'>Chicago</option>
              <option value='Dallas'>Dallas</option>
              <option value="Los Angeles">Los Angeles</option>
              <option value="Orange County">Orange County</option>
              <option value="San Jose">San Jose</option>
              <option value="Seattle">Seattle</option>
              <option value="Tulsa">Tulsa</option>
              <option value="Online">Online</option>
            </select>
          </td>
      </div>
      <div class="space">
        <td>Favorite Language</td>
          <td>
            <select name='language' class="box">
              <option value='Python'>Python</option>
              <option value='JavaScript'>JavaScript</option>
              <option value='Java'>Java</option>
              <option value='C#'>C#</option>
              <option value='C'>C</option>
              <option value="C++">C++</option>
              <option value="Go">Go</option>
              <option value="R">R</option>
              <option value="Swift">Swift</option>
              <option value="PHP">PHP</option>
            </select>
          </td>
      </div>
      <label name="comment" for="comment" class="space">Comment(Optional)</label>
      <textarea name="comment"cols="50" rows="10" class="space"></textarea>
    </div>
    <div class="box-button"><button name="submit">Submit</button></div>
    
  </form>
</body>
</html>