<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Survey</title>
</head>
<body>
  <form action="/">
    <label for="name">Your Name</label>
    <input type="text" name = "name">
    <td>Dojo Location</td>
      <td>
        <select name='location'>
          <option value='0'>Arlington</option>
          <option value='1'>Berkely</option>
          <option value='2'>Boise</option>
          <option value='3'>Chicago</option>
          <option value='4'>Dallas</option>
          <option value="5">Los Angeles</option>
          <option value="6">Orange County</option>
          <option value="7">San Jose</option>
          <option value="8">Seattle</option>
          <option value="9">Tulsa</option>
          <option value="10">Online</option>
        </select>
      </td>
      <td>Favorite Language</td>
        <td>
          <select name='language'>
            <option value='0'>Python</option>
            <option value='1'>JavaScript</option>
            <option value='2'>Java</option>
            <option value='3'>C#</option>
            <option value='4'>C</option>
            <option value="5">C</option>
            <option value="6">C++</option>
            <option value="7">Go</option>
            <option value="8">R</option>
            <option value="9">Swift</option>
            <option value="10">PHP</option>
          </select>
        </td>
    <label for="comment">Comment(Optional)</label>
    <textarea name="comment"cols="30" rows="10"></textarea>
    <input type="Submit" value="Submit">
  </form>
</body>
</html>